<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_ROOT" value="logs" />
    <conversionRule conversionWord="mask" converterClass="bisq.common.logging.LogMaskConverter"/>

    <appender name="CONSOLE_APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
			<pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
           
        </encoder>
    </appender>

    <root>
        <appender-ref ref="CONSOLE_APPENDER"/>
    </root>
</configuration>
        