<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bisq Connect.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>5</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>030903910D6F8FDD546E517DE32454B3B9517E4C</string>
				<key>dateExpires</key>
				<string>3/2/2026</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>030903910D6F8FDD546E517DE32454B3B9517E4C</string>
						<key>dateExpires</key>
						<string>3/2/2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>domain.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YRAZCRBR9J</string>
						<key>name</key>
						<string>Freesofware LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>030903910D6F8FDD546E517DE32454B3B9517E4C</string>
						<key>dateExpires</key>
						<string>3/2/2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>presentation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>YRAZCRBR9J</string>
						<key>name</key>
						<string>Freesofware LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>YRAZCRBR9J.bisq.mobile.client.BisqConnect</string>
				<key>com.apple.developer.team-identifier</key>
				<string>YRAZCRBR9J</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Bisq Connect.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b5614b90-c3c4-4c9f-bf96-59a677fa69aa</string>
				<key>dateExpires</key>
				<string>29/3/2026</string>
				<key>name</key>
				<string>Bisq Connect Dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>YRAZCRBR9J</string>
				<key>name</key>
				<string>Freesofware LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>0.0.5</string>
		</dict>
	</array>
</dict>
</plist>
