<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>destination</key>
	<string>export</string>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://bisq-network.github.io/bisq-mobile/releases/sidestore/bisq-connect.ipa</string>
		<key>displayImageURL</key>
		<string>https://bisq-network.github.io/bisq-mobile/releases/sidestore/icon.png</string>
		<key>fullSizeImageURL</key>
		<string>https://bisq-network.github.io/bisq-mobile/releases/sidestore/bisq.png</string>
	</dict>
	<key>method</key>
	<string>debugging</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>bisq.mobile.client.BisqConnect</key>
		<string>Bisq Connect Dev</string>
	</dict>
	<key>signingCertificate</key>
	<string>Apple Development</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>YRAZCRBR9J</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
