name: BisqApps

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Project Build & Test

    strategy:
      matrix:
        os: [ubuntu-latest]
#        os: [ubuntu-latest, macos-14, macos-latest]
#        platform: [androidNode, androidClient, iosClient]
#        TODO build fails on macos - might be an issue with the Pods compiled in MacOS 15 pushed to the repo (support for XCode 15 is still under dev for KMP)


    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21 (Azul Zulu)
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'
          cache: gradle

      # Cache Gradle dependencies
      - name: Cache Gradle dependencies
        uses: actions/cache@v4
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission for gradlew
        run: |
            chmod +x gradlew


      # Android setup
      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
        with:
          api-level: 33
          build-tools: 33.0.0

      # MacOS setup
      # needed for macos terminal build to not hang doing linkDebugFrameworkxxxxArm64 related tasks
      - name: Set up Xcode
        if: startsWith(matrix.os, 'macos')
        run: |
          sudo xcode-select -s /Applications/Xcode_14.3.app
          xcodebuild -version
#          sudo xcode-select -s /Applications/Xcode_15.0.app

      # Create a fake local.properties file
      - name: Create fake local.properties
        run: |
          echo "KEYSTORE_PATH=/path/to/keystore" > local.properties
          echo "KEYSTORE_PASSWORD=yourKeystorePassword" >> local.properties
          echo "KEY_ALIAS=yourKeyAlias" >> local.properties
          echo "CLI_KEY_ALIAS=yourCliKeyAlias" >> local.properties
          echo "KEY_PASSWORD=yourKeyPassword" >> local.properties
          echo "CLI_KEY_PASSWORD=yourCliKeyPassword" >> local.properties

      # CI:true is costly so we sum all tasks in one instruction                                   #
      - name: Build project and do node specific tasks
        env:
          CI: true
        run: |
#          refresh dependencies is important here because of the jars deps
          ./gradlew clean buildDebug --refresh-dependencies --info
          ./gradlew test
#          TODO failing after tor incorporation (hangs at 98%)
#          ./gradlew androidNode:testDebugUnitTest androidNode:connectedDebugAndroidTest

      - name: Run androidClient Tests
        env:
          CI: true
        run: ./gradlew androidClient:testDebugUnitTest androidClient:connectedDebugAndroidTest

      # TODO ios specific and run on emulator if needed
      - name: Run iOS Tests
        if: startsWith(matrix.os, 'macos')
        run: ./gradlew shared:presentation:iosSimulatorArm64Test
